<a href="https://colab.research.google.com/github/Itzadityapandey/Emotion_Detection_CNN/blob/main/dataanalyticslab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df=pd.read_csv("/content/aerofit_treadmill.csv")
df

,Product,Age,Gender,Education,MaritalStatus,Usage,Fitness,Income,Miles
0,KP281,18,Male,14,Single,3.0,4,29562,112
1,KP281,19,Male,15,Single,NaN,3,31836,75
2,KP281,19,Female,14,Partnered,4.0,3,30699,66
3,KP281,19,Male,12,Single,3.0,3,32973,85
4,KP281,20,Male,13,Partnered,4.0,2,35247,47
...,...,...,...,...,...,...,...,...,...
175,KP781,40,Male,21,Single,6.0,5,83416,200
176,KP781,42,Male,18,Single,5.0,4,89641,200
177,KP781,45,Male,16,Single,5.0,5,90886,160
178,KP781,47,Male,18,Partnered,4.0,5,104581,120
179,KP781,48,Male,18,Partnered,4.0,5,95508,180

total number of rows and columns in datafreame "df"

In [7]:
df.shape

(180, 9)

Display coinsise summery information about the Dataframe df

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product        180 non-null    object
 1   Age            180 non-null    int64
 2   Gender         180 non-null    object
 3   Education      180 non-null    int64
 4   MaritalStatus  180 non-null    object
 5   Usage          179 non-null    float64
 6   Fitness        180 non-null    int64
 7   Income         180 non-null    int64
 8   Miles          180 non-null    int64
dtypes: float64(1), int64(5), object(3)
memory usage: 12.8+ KB

Generate discrictive stats for all column in the dataframe df and transpose

In [10]:
df.describe()

,Age,Education,Usage,Fitness,Income,Miles
count,180.000000,180.000000,179.000000,180.000000,180.000000,180.000000
mean,28.788889,15.572222,3.463687,3.311111,53719.577778,103.194444
std,6.943498,1.617055,1.082325,0.958869,16506.684226,51.863605
min,18.000000,12.000000,2.000000,1.000000,29562.000000,21.000000
25%,24.000000,14.000000,3.000000,3.000000,44058.750000,66.000000
50%,26.000000,16.000000,3.000000,3.000000,50596.500000,94.000000
75%,33.000000,16.000000,4.000000,4.000000,58668.000000,114.750000
max,50.000000,21.000000,7.000000,5.000000,104581.000000,360.000000

to include all 9 attributes

In [11]:
df.describe(include="all")

,Product,Age,Gender,Education,MaritalStatus,Usage,Fitness,Income,Miles
count,180,180.000000,180,180.000000,180,179.000000,180.000000,180.000000,180.000000
unique,3,NaN,2,NaN,2,NaN,NaN,NaN,NaN
top,KP281,NaN,Male,NaN,Partnered,NaN,NaN,NaN,NaN
freq,80,NaN,104,NaN,107,NaN,NaN,NaN,NaN
mean,NaN,28.788889,NaN,15.572222,NaN,3.463687,3.311111,53719.577778,103.194444
std,NaN,6.943498,NaN,1.617055,NaN,1.082325,0.958869,16506.684226,51.863605
min,NaN,18.000000,NaN,12.000000,NaN,2.000000,1.000000,29562.000000,21.000000
25%,NaN,24.000000,NaN,14.000000,NaN,3.000000,3.000000,44058.750000,66.000000
50%,NaN,26.000000,NaN,16.000000,NaN,3.000000,3.000000,50596.500000,94.000000
75%,NaN,33.000000,NaN,16.000000,NaN,4.000000,4.000000,58668.000000,114.750000
max,NaN,50.000000,NaN,21.000000,NaN,7.000000,5.000000,104581.000000,360.000000

to transpose the df we use attribute .T

In [12]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Product,180,3,KP281,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,180.0,NaN,NaN,NaN,28.788889,6.943498,18.0,24.0,26.0,33.0,50.0
Gender,180,2,Male,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Education,180.0,NaN,NaN,NaN,15.572222,1.617055,12.0,14.0,16.0,16.0,21.0
MaritalStatus,180,2,Partnered,107,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Usage,179.0,NaN,NaN,NaN,3.463687,1.082325,2.0,3.0,3.0,4.0,7.0
Fitness,180.0,NaN,NaN,NaN,3.311111,0.958869,1.0,3.0,3.0,4.0,5.0
Income,180.0,NaN,NaN,NaN,53719.577778,16506.684226,29562.0,44058.75,50596.5,58668.0,104581.0
Miles,180.0,NaN,NaN,NaN,103.194444,51.863605,21.0,66.0,94.0,114.75,360.0

Display the data types of each column in the Dataframe df

In [13]:
df.dtypes

Product           object
Age                int64
Gender            object
Education          int64
MaritalStatus     object
Usage            float64
Fitness            int64
Income             int64
Miles              int64
dtype: object

Check for duplicates from dataframe if there is any

In [15]:
df.duplicated().sum()

0

Remve duplicates if there is duplicaate v;aues

In [16]:
df.drop_duplicates()

,Product,Age,Gender,Education,MaritalStatus,Usage,Fitness,Income,Miles
0,KP281,18,Male,14,Single,3.0,4,29562,112
1,KP281,19,Male,15,Single,NaN,3,31836,75
2,KP281,19,Female,14,Partnered,4.0,3,30699,66
3,KP281,19,Male,12,Single,3.0,3,32973,85
4,KP281,20,Male,13,Partnered,4.0,2,35247,47
...,...,...,...,...,...,...,...,...,...
175,KP781,40,Male,21,Single,6.0,5,83416,200
176,KP781,42,Male,18,Single,5.0,4,89641,200
177,KP781,45,Male,16,Single,5.0,5,90886,160
178,KP781,47,Male,18,Partnered,4.0,5,104581,120
179,KP781,48,Male,18,Partnered,4.0,5,95508,180

Identify thr outliers in thr dtaset dusring EDA

In [18]:
Q1=np.percentile(df["Age"],25)
Q2=np.percentile(df["Age"],50)
Q3=np.percentile(df["Age"],75)

In [19]:
Q1

24.0

enter qartile range = Q3-Q1

In [20]:
IQR=Q3-Q1

for finding the outliers we need to find min max.

In [25]:
min=Q1-1.5*IQR
max=Q3+1.5*IQR

In [26]:
max

46.5

In [27]:
df.isnull().sum()

Product          0
Age              0
Gender           0
Education        0
MaritalStatus    0
Usage            1
Fitness          0
Income           0
Miles            0
dtype: int64

To drop the null values we use  dropna

In [29]:
#df.dropna(inplace="True")
df['Usage'].fillna(df['Usage'].mean(),inplace=True)

In [30]:
df.isnull().sum()

Product          0
Age              0
Gender           0
Education        0
MaritalStatus    0
Usage            0
Fitness          0
Income           0
Miles            0
dtype: int64

Scaling is done to remove baisness in the algo due to the larger variance in the data

In [37]:
from sklearn.preprocessing import StandardScaler

In [39]:
scale=StandardScaler()

In [41]:

scaled_data=scale.fit_transform(df[['Age','Education','Usage','Fitness','Income','Miles']])
scaled_data

array([[-1.55814595, -0.97498718, -0.4308179 ,  0.72044335, -1.46758505,
         0.17025654],
       [-1.41372459, -0.35485399,  0.        , -0.32536151, -1.32943841,
        -0.54514318],
       [-1.41372459, -0.97498718,  0.4982954 , -0.32536151, -1.39851173,
        -0.71915932],
       ...,
       [ 2.34123062,  0.2652792 ,  1.4274087 ,  1.76624821,  2.25787893,
         1.09834266],
       [ 2.63007333,  1.50554557,  0.4982954 ,  1.76624821,  3.08985709,
         0.32493756],
       [ 2.77449469,  1.50554557,  0.4982954 ,  1.76624821,  2.53866776,
         1.4850452 ]])

Encoding : To convert the catagorical data into numerical data so it can calculate thw calculations.